<%- include('../includes/head.ejs') %>
<body>

    <%- include('../includes/navigation.ejs') %>

<div class="card" style="width:auto;border: none;text-align: center;">
    <div class="card-body">
<form class="text-center   p-5" style="width:20rem;text-align: center;" action="#!">

    <p class="h4 mb-4">Sign up</p>
    
    <input type="text" id="name" class="form-control mb-4" placeholder="Name">
    <input type="email" id="email" class="form-control mb-4" placeholder="E-mail">
    <input type="password" id="password" class="form-control mb-4" placeholder="Password">
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

    <p>Already Registered?
        <a href="/login">Login</a>
    </p>

</form>
</div>
</div>


<%- include('../includes/end.ejs') %>