<%- include('./includes/head.ejs') %>
<body>

    <%- include('./includes/navigation.ejs') %>
   
    <% if(!isAuthenticated) {%>
    <div class="card-deck" style="margin-top: 6rem;">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <div class="card text-center text-white bg-primary mb-3 centered" style="max-width: 20rem;">
                <div class="card-header  cardHeader" style="justify-content: center;">Are you a Student?</div>
                <div class="card-body">
                  <a href="/login" class="card-title"><button type="submit"class="btn btn-danger">Login as students</button></a>
                  <p class="card-text" style="color: black;font-weight: bold;">If you are not registerd please sign-up first.</p>
                  <a href="/register" class="card-title"><button type="submit"class="btn btn-danger">Signup as students</button></a>
                </div>
              </div>
              
        </div>
        <div class="col-sm-5">
            <div class="card text-center text-white bg-primary mb-3 centered" style="max-width: 20rem;">
                <div class="card-header cardHeader">Are you a Teacher?</div>
                <div class="card-body">
                    <a href="/teacher/login" class="card-title"><button type="submit" class="btn btn-danger">Login as Teachers</button></a>
                    <p class="card-text" style="color: black;font-weight: bold;">If you are not registerd please sign-up first.</p>
                    <a href="/teacher/register" class="card-title"><button type="submit"class="btn btn-danger">Signup as Teachers</button></a>
                    <p class="card-text" style="color: black;font-weight: bold;">View your approval status.</p>
                    <a href="/teacher/approval" class="card-title"><button type="submit"class="btn btn-danger">Approval Staus</button></a>

                </div>
              </div>
        </div>
      </div>
    
   <% } %>
     
      
     

<%- include('./includes/end.ejs') %></body>